.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}
